/build/
/build-gcc/
/build-linux-gcc/
/build-windows/
/build-sanitize/
/build-asan*/
/.xwin/
/.xwin-cache/
/_CPack_Packages/
/Contour-*.deb
/Contour-*.deb.sha256
/Contour-*.tar.gz
/Contour-*.tar.gz.sha256
/Contour-*-Windows-*.exe
/Contour-*-Windows-*.exe.sha256
/PitchTransform-*.deb
/PitchTransform-*.deb.sha256
/PitchTransform-*.tar.gz
/PitchTransform-*.tar.gz.sha256
/PitchTransform-*-Windows-*.exe
/PitchTransform-*-Windows-*.exe.sha256
/Pitch-Curve-*.deb
/Pitch-Curve-*.deb.sha256
/Pitch-Curve-*.tar.gz
/Pitch-Curve-*.tar.gz.sha256
/Pitch-Curve-*-Windows-*.exe
/Pitch-Curve-*-Windows-*.exe.sha256
/.cache/
*.jucer
.DS_Store
Thumbs.db
